body{
    background-color: rgb(224, 203, 13);
    font-size: 20px;
    font-family: monospace;
    margin: 0;
}
.items {
    background-color: white;
    max-width: 35%;
    margin-top: 1rem;
    margin-left: 30%;
    padding-left: 30px;
}
.item{
    display: flex;
    align-items: center;    

}


p {
    margin: 0;
    padding: 20px;
    flex: 1;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 20;
    border-left: 1px solid #D1E2FF;
}

input:checked + p{
    color: #777;
    text-decoration: line-through;
}